In [ ]:
from datascience import *
import numpy as np

## Drinks

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Latte',    'Nefeli',  3],
    ['Espresso', "Abe's",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(25, 50, 5),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)
discounts

In [ ]:
t = drinks.join('Cafe', discounts, 'Location')
t

In [ ]:
t.with_column('Discounted', t.column(2) * (1 - t.column(3)/ 100))

In [ ]:
two = drinks.join('Cafe', drinks)
two

In [ ]:
two.with_column('Total', two.column('Price') + two.column('Price_2'))

## Bikes

In [ ]:
trips = Table.read_table('../../data/trip.csv')
trips

In [ ]:
commute = trips.where('Duration', are.below(1800))
commute.hist('Duration', normed=None, density=True)

In [ ]:
commute.hist('Duration', bins=60, unit='second', normed=None, density=True)

In [ ]:
(550-250) * 0.15

In [ ]:
commute.hist('Duration', bins=np.arange(1801), unit='second', normed=None, density=True)

In [ ]:
starts = commute.group('Start Station').sort('count', descending=True)
starts

In [ ]:
commute.pivot('Start Station', 'End Station')

In [ ]:
duration = trips.select(3, 6, 1)
duration

In [ ]:
shortest = duration.group([0, 1], min)
shortest

In [ ]:
from_cc = shortest.where(0, are.containing('Civic Center BART')).sort(2)
from_cc

## Maps

In [ ]:
stations = Table.read_table('../../data/station.csv')
stations

In [ ]:
Marker.map_table(stations.select('lat', 'long', 'name'))

In [ ]:
sf = stations.where('landmark', 'San Francisco')
Circle.map_table(sf.select('lat', 'long', 'name'), color='green', radius=150)

In [ ]:
from_cc

In [ ]:
colors = stations.group('landmark').with_column('color', ['blue', 'red', 'green', 'orange', 'purple'])
colors

In [ ]:
colored = stations.join('landmark', colors).select('lat', 'long', 'name', 'color')
Marker.map_table(colored)

In [ ]:
station_starts = stations.join('name', starts, 'Start Station')
station_starts

In [ ]:
Circle.map_table(station_starts.select('lat', 'long', 'name').with_columns(
    'color', 'blue', 'area', station_starts.column('count') * 1000
))