# Fat Chance: Probability from the Ground Up
## HarvardX -  FC1x
## https://courses.edx.org/courses/course-v1:HarvardX+FC1x+1T2018/course/

Week One

### Counting numbers

In [1]:
# In [k, n]: n - k + 1

# e.g.
print('Numbers in [42, 482]:', 482 - 42 + 1)

# extra
print('Divisible by 5 in [42, 482]:', '[45, 50, 55 ... 470, 475, 480]')
print('Divide all of them by five:', '[9, 10, 11, ..., 94, 95, 96]')
print('So it equals to numbers in [9, 96] -> 96 - 9 + 1 =', 96 - 9 + 1)

Numbers in [42, 482]: 441
Divisible by 5 in [42, 482]: [45, 50, 55 ... 470, 475, 480]
Divide all of them by five: [9, 10, 11, ..., 94, 95, 96]
So it equals to numbers in [9, 96] -> 96 - 9 + 1 = 88

In [2]:
# [33, 97]
97 - 33 + 1

# even number is [33, 97]
# [34, 36, 38, ..., 92, 94, 96]
# [17, 18, 19, ..., 46, 47, 48]
# [17, 48]
48 - 17 + 1

32

### Interlude - large numbers

In [3]:
# 3 million 170 thousand
print('3.17 x 10 exp 6 = ', int(3.17e6))

3.17 x 10 exp 6 =  3170000

In [4]:
# Seconds from the beginning of universe - 13.8 billion years
print('in years, 1.38e10')
print('seconds in a year:', 60 * 60 * 24 * 365, 'about 3.15e7')
print('about 4.35e17')

# Computing
print('Current fastest computer is about 9e16 operations per seconds')
print('Total coumputing: 4e17*9e16 = 4e34')

in years, 1.38e10
seconds in a year: 31536000 about 3.15e7
about 4.35e17
Current fastest computer is about 9e16 operations per seconds
Total coumputing: 4e17*9e16 = 4e34

In [5]:
# 5000 employees, 10 transactions a day for 400 years.
print('Total transactions are 10 * 365 * 400 * 5000 =', 10 * 365 * 400 * 5000, ' = 7.3e9')

Total transactions are 10 * 365 * 400 * 5000 = 7300000000  = 7.3e9

## The multiplication principle

In [6]:
# dressing up chosing from 7 shirts, 3 trousers, 2 shoes gives:
print('Combinations of 7*3*2 =', 7*3*2)

Combinations of 7*3*2 = 42

In [7]:
# 5 letter words (making sense or not) in the English alphabet:
print('Sequence of 5 chosen from 26 = 26**5 =', 26 ** 5)

Sequence of 5 chosen from 26 = 26**5 = 11881376

In [8]:
print('Sequence of 5 chosen from 26 without repetition = 26*25*24*23*22 =', 26*25*24*23*22)

Sequence of 5 chosen from 26 without repetition = 26*25*24*23*22 = 7893600

In [9]:
# code with three numbers + 3 letters (EN)
print('Total codes 10 ** 3 * 26 ** 3 =', 10 ** 3 * 26 ** 3, ' < 2e7')

Total codes 10 ** 3 * 26 ** 3 = 17576000  < 2e7

In [10]:
# code with two letters + 4 numbers, enough for 5 million books?
26 ** 2 * 10 ** 4 > 5e6

True

In [11]:
# how many codes 2L4N w/o repetitions?
26 * 25 * 10 * 9 * 8 * 7

3276000

# Factorial

In [12]:
from math import factorial
print(factorial(15))

1307674368000

# k chosen from n without repetition: n! / (n-k)!

In [13]:
# How many three-digit odd numbers are there with no repeated digits?
5 * 8 * 8

320

# The Subtraction Principle

In [14]:
# how many 4 letter "words" contain at least a vowel?

# 4 letter "words" with no vowels:
no_vowels_four_letter = 21 ** 4

# 4LW with at least a vowel:
four_letter_words = 26 ** 4

four_letter_words - no_vowels_four_letter

262495

In [15]:
# Of all the seven-letter words in the English alphabet,
# how many have a letter in them that appears more than once?
all_seven_letter = 26 ** 7
all_seven_no_repetition = 26 * 25 * 24 * 23 * 22 * 21 * 20
with_repetition = all_seven_letter - all_seven_no_repetition
with_repetition

4716498176

In [16]:
# A phone number has seven digits and cannot begin with a 0
# How many possible phone numbers are there?

seven_digit_tel_num = 10 ** 6 * 9
int(9e6)

9000000

In [17]:
# A phone number has seven digits and cannot begin with a 0.
# How many phone numbers contain at least one 7
no_seven = 8 * 9 ** 6
seven_digit_tel_num - no_seven

4748472

In [18]:
# A phone number has seven digits and cannot begin with a 0.
# How many phone numbers contain the sequence 123
10**4-10 + 4*9*10**3-19

45971

## Evaluation

In [19]:
# How many whole numbers are there between 242 and 783?
in_range = 783 - 242 + 1
in_range

542

In [20]:
# How many of them are divisible by 6?
# [246, 252, 258 ... 768, 774, 780]
# [41 ... 130]
in_not_by_six = 130 - 41 + 1
in_not_by_six

90

In [21]:
# not divisible by 6
in_range - in_not_by_six

452

In [22]:
# 13 athletes from around the world are competing in the steeplechase competition at the 2020 Olympics.
# By the outcome of the event we'll mean the determination of who gets
# the gold medal, who gets the silver medal, and who gets the bronze medal.
# How many possible outcomes are there?
outcomes = 13 * 12 * 11

In [23]:
# Say that three of the  athletes in the steeplechase competition are from Moldovia.
# (Steeplechase is big in Moldovia, apparently.)
# How many outcomes involve at least one Moldovian winning a medal?
non_moldovian = 10 * 9 * 8
outcomes - non_moldovian

996

In [24]:
# How many six-letter "words" in the English alphabet contain at least one vowel?
# (For the purposes of this problem, there are five vowels among the 26 letters of the alphabet)
six_letter_words = 26 ** 6
no_vowels_words = 21 ** 6
voweled_words = six_letter_words - no_vowels_words
voweled_words

223149655

In [25]:
# How many six-letter words in the English alphabet have at least one repeated letter?
# (By a repeated letter, we mean any letter that appears more than once in the word,
# not necessarily in two adjacent letters.)

six_no_repetition = 26 * 25 * 24 * 23 * 22 * 21
same_w_factorial = factorial(26) / factorial(20)
six_no_repetition == same_w_factorial
six_w_repetition = six_letter_words - six_no_repetition
six_w_repetition

143150176

In [26]:
# Consider all numbers consisting of four different digits all between 1 and 9.
# How many of these are odd?
number_four = 9 ** 4
number_four_different = 9 * 8 * 7 * 6
odd_four = 5 * 9 ** 3
odd_four_different = 5 * 8 * 7 * 6
number_four, odd_four, number_four_different, odd_four_different

(6561, 3645, 3024, 1680)